# Data Collection Scripts

In [73]:
import ssl
import pandas as pd
from tabula.io import read_pdf
import matplotlib.pyplot as plt

## Kenyan Data Cleaning
Outpiting CSV files for Kenyan cleaned data as it was initially collected from [Kenya's Energy and Petroleum Regulation Authority (EPRA)](https://www.epra.go.ke/services/petroleum/petroleum-prices/).

In [25]:
kenya_df = pd.read_csv('kenya_consolidated.csv')
kenya_df.head()

   start_date    end_date             town  super_petrol  diesel  kerosene
0  15/07/2023  14/08/2023          Mombasa        191.62  176.63    166.43
1  15/07/2023  14/08/2023           Kilifi        192.39  177.40    167.19
2  15/07/2023  14/08/2023  Likoni Mainland        192.00  177.02    166.81
3  15/07/2023  14/08/2023            Kwale        192.00  177.02    166.81
4  15/07/2023  14/08/2023          Malindi        192.62  177.62    167.41

In [26]:
kenya_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3531 entries, 0 to 3530
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   start_date    3531 non-null   object
 1   end_date      3531 non-null   object
 2   town          3531 non-null   object
 3   super_petrol  3531 non-null   float64
 4   diesel        3531 non-null   float64
 5   kerosene      3531 non-null   float64
dtypes: float64(3), object(3)
memory usage: 165.6+ KB

In [27]:
## See the unique start dates and end dates (They should be have same unique values)
start_dates = kenya_df.start_date.unique()
end_dates = kenya_df.end_date.unique()
print("Start Dates: ", start_dates,start_dates.shape, "\n End Dates: ", end_dates, end_dates.shape)

Start Dates:  ['15/07/2023' '15/06/2023' '15/04/2023' '15/01/2023' '15/12/2022'
 '15/11/2022' '15/10/2022' '15/09/2022' '15/08/2022' '15/07/2022'
 '15/06/2022' '15/05/2022' '15/04/2022' '15/03/2022' '15/02/2022'
 '15/01/2022' '15/11/2021'] (17,)
 End Dates:  ['14/08/2023' '14/07/2023' '14/05/2023' '14/02/2023' '14/01/2023'
 '14/12/2022' '14/11/2022' '14/10/2022' '14/09/2022' '14/08/2022'
 '14/07/2022' '14/06/2022' '14/05/2022' '14/04/2022' '14/03/2022'
 '14/02/2022' '14/12/2021'] (17,)

In [41]:
# Separate data by start date and save data in different CSV files named by the date
for date in start_dates:
    df = kenya_df[kenya_df.start_date == date]
    fname = "kenya_"+ date[-4:] + "_" + date[3:5] + "_" + date[:2] + ".csv" #Format file name: kenya_year_month_day.csv
    df.to_csv(fname)

You can now access the Kenyan data files based on their dates (As available through EPRA), or you can access all the data available from EPRA through the file `kenya_consolidated.csv`.

## Tanzania Data Collection
Tanzanian data from the [Energy and Water Utilities Authority (EWURA)](https://www.ewura.go.tz/fuel-prices/) was only available in PDF format. Below we'll design scripts to seamlessly extract data from the PDF documents into CSV files.

If there's an issue with the Java Environment, install `temurin`. In Mac/Linux, this can be done with `brew install temurin`

In [77]:
ssl._create_default_https_context = ssl._create_unverified_context #Fix SSL Certification Errors
dfs = read_pdf("https://www.ewura.go.tz/wp-content/uploads/2023/10/Cap-Prices-wef-4th-October-2023-English-03102023-1.pdf", pages='all')
for df in dfs:
    print("This is a new table:\n",df)

This is a new table:
            Ports Petrol (TZS/L) Diesel (TZS/L) Kerosene (TZS/L)
0  Dar es Salaam          3,281          3,448            2,943
1          Tanga          3,327          3,494            2,989
2         Mtwara          3,353          3,520            3,016
This is a new table:
    Unnamed: 0             Unnamed: 1 Unnamed: 2 Cap Prices Unnamed: 3
0        S.No                   Town        NaN        NaN        NaN
1         NaN                    NaN     Petrol     Diesel   Kerosene
2           1          Dar es Salaam      3,281      3,448      2,943
3           2                 Arusha      3,365      3,532      3,027
4           3    Arumeru (Usa River)      3,365      3,532      3,027
5           4                 Karatu      3,383      3,550      3,046
6           5                Longido      3,376      3,543      3,038
7           6                Monduli      3,371      3,538      3,033
8           7       Monduli-Makuyuni      3,375      3,542      3,038
9           8  Ngorongoro (Loliondo)      3,457      3,624      3,119
10          9         Pwani (Kibaha)      3,286      3,453      2,948
11         10               Bagamoyo      3,292      3,459      2,954
12         11       Bagamoyo (Miono)      3,323      3,490      2,985
This is a new table:
    Unnamed: 0           Unnamed: 1 Unnamed: 2       Cap Prices
0        S.No                 Town        NaN              NaN
1         NaN                  NaN     Petrol  Diesel Kerosene
2          12    Bagamoyo (Mbwewe)      3,304      3,471 2,966
3          13    Chalinze Junction      3,295      3,462 2,957
4         NaN    Chalinze Township        NaN              NaN
5          14         2,962(Msata)      3,299            3,466
6          15               Kibiti      3,301      3,468 2,964
7          16             Kisarawe      3,288      3,455 2,950
8          17             Mkuranga      3,291      3,458 2,953
9          18               Rufiji      3,309      3,476 2,971
10         19               Dodoma      3,340      3,507 3,002
11         20                 Bahi      3,347      3,514 3,009
12         21             Chamwino      3,335      3,502 2,997
13         22               Chemba      3,366      3,533 3,029
14         23               Kondoa      3,373      3,540 3,035
15         24               Kongwa      3,337      3,504 2,999
16         25              Mpwapwa      3,341      3,508 3,003
17         26  Mpwapwa (Chipogoro)      3,353      3,520 3,015
18         27   Mtera (Makatopora)      3,359      3,526 3,021
19         28                Mvumi      3,346      3,513 3,009
20         29                Geita      3,446      3,613 3,109
21         30              Bukombe      3,435      3,602 3,098
22         31                Chato      3,467      3,635 3,130
23         32               Mbogwe      3,485      3,652 3,147
24         33          Nyang'hwale      3,461      3,629 3,124
25         34               Iringa      3,345      3,512 3,007
26         35               Ismani      3,350      3,517 3,013
27         36               Kilolo      3,350      3,517 3,012
28         37    Mufindi (Mafinga)      3,355      3,522 3,017
29         38    Mufindi (Igowole)      3,364      3,531 3,026
30         39      Kagera (Bukoba)      3,497      3,664 3,159
31         40           Biharamulo      3,471      3,638 3,133
32         41    Karagwe (Kayanga)      3,513      3,680 3,175
33         42     Kyerwa (Ruberwa)      3,519      3,686 3,181
34         43               Muleba      3,497      3,664 3,159
35         44                Ngara      3,484      3,651 3,147
36         45              Misenyi      3,505      3,672 3,167
37         46      Katavi (Mpanda)      3,439      3,606 3,101
38         47      Mlele (Inyonga)      3,420      3,587 3,083
This is a new table:
    Unnamed: 0                Unnamed: 1 Unnamed: 2       Cap Prices
0        S.No                      Town        NaN              NaN
1         NaN                       NaN     Petrol  Diesel Kerosene
2          48        Mpimbwe (Majimoto)      3,458      3,625 3,120
3          49        Tanganyika (Ikola)      3,457      3,624 3,119
4          50                    Kigoma      3,443      3,610 3,106
5          51           Uvinza (Lugufu)      3,434      3,601 3,096
6         NaN          Muyobozi Village        NaN              NaN
7          52             3,104(Uvinza)      3,442            3,609
8          53  Ilagala Village (Uvinza)      3,444      3,611 3,106
9          54                   Buhigwe      3,442      3,609 3,104
10         55                   Kakonko      3,444      3,611 3,106
11         56                    Kasulu      3,453      3,620 3,115
12         57                   Kibondo      3,450      3,617 3,112
13         58       Kilimanjaro (Moshi)      3,355      3,522 3,017
14         59         Hai (Bomang'ombe)      3,358      3,525 3,020
15         60                    Mwanga      3,348      3,515 3,010
16         61              Rombo (Mkuu)      3,376      3,543 3,038
17         62                      Same      3,341      3,508 3,003
18         63          Siha (Sanya Juu)      3,361      3,528 3,024
19         64                     Lindi      3,340      3,507 3,002
20         65               Lindi-Mtama      3,358      3,525 3,020
21         66              Kilwa Masoko      3,315      3,482 2,977
22         67                    Liwale      3,361      3,528 3,023
23         68                Nachingwea      3,369      3,536 3,031
24         69                   Ruangwa      3,371      3,538 3,033
25         70          Manyara (Babati)      3,403      3,570 3,066
26         71           Hanang (Katesh)      3,414      3,581 3,076
27         72           Kiteto (Kibaya)      3,414      3,581 3,077
28         73                     Mbulu      3,416      3,583 3,078
29         74     Simanjiro (Orkasumet)      3,435      3,602 3,098
30         75             Mara (Musoma)      3,447      3,614 3,109
31        NaN           Musoma Vijijini        NaN              NaN
32         76                       NaN      3,459      3,627 3,122
33        NaN                (Busekela)        NaN              NaN
34         77         Rorya (Ingirijuu)      3,454      3,621 3,116
35         78           Rorya (Shirati)      3,462      3,629 3,124
36         79                     Bunda      3,438      3,605 3,100
37         80           Bunda (Kisorya)      3,450      3,618 3,113
38         81                   Butiama      3,444      3,611 3,106
39         82        Serengeti (Mugumu)      3,455      3,622 3,117
This is a new table:
    Unnamed: 0               Unnamed: 1 Unnamed: 2       Cap Prices
0        S.No                     Town        NaN              NaN
1         NaN                      NaN     Petrol  Diesel Kerosene
2          83                   Tarime      3,455      3,622 3,118
3         NaN                   Tarime        NaN              NaN
4          84  3,123(Kewanja/Nyamongo)      3,461            3,628
5          85                    Mbeya      3,388      3,555 3,050
6          86                   Chunya      3,398      3,565 3,060
7          87     Chunya (Makongolosi)      3,403      3,570 3,065
8         NaN             Chunya (Lupa        NaN              NaN
9          88         3,067Tingatinga)      3,405            3,572
10         89                    Kyela      3,404      3,571 3,066
11         90         Mbarali (Rujewa)      3,372      3,539 3,034
12         91        Rujewa (Madibira)      3,386      3,553 3,048
13         92         Rujewa (Kapunga)      3,382      3,549 3,044
14         93          Rungwe (Tukuyu)      3,397      3,564 3,059
15         94       Busokelo (lwangwa)      3,400      3,567 3,063
16         95                 Morogoro      3,306      3,473 2,968
17         96                   Mikumi      3,322      3,489 2,984
18         97      Kilombero (Ifakara)      3,344      3,511 3,006
19         98       Kilombero (Mlimba)      3,366      3,533 3,029
20         99       Kilombero (Mngeta)      3,355      3,522 3,018
21        100         Ulanga (Mahenge)      3,355      3,522 3,017
22        101                  Malinyi      3,365      3,532 3,027
23        102                   Kilosa      3,324      3,491 2,987
24        103                    Gairo      3,324      3,491 2,987
25        NaN            Mvomero (Wami        NaN              NaN
26        104                      NaN      3,316      3,483 2,979
27        NaN                 Sokoine)        NaN              NaN
28        105    Mvomero (Sanga Sanga)      3,306      3,473 2,968
29        106                   Turian      3,331      3,498 2,993
30        107                   Mtwara      3,353      3,520 3,016
31        108       Nanyumbu (Mangaka)      3,402      3,569 3,065
32        109                   Masasi      3,379      3,546 3,041
33        110                   Newala      3,386      3,553 3,048
34        111               Tandahimba      3,379      3,546 3,041
35        112                 Nanyamba      3,379      3,546 3,041
36        113                   Mwanza      3,431      3,598 3,093
37        114                   Kwimba      3,449      3,616 3,111
38        115                     Magu      3,439      3,606 3,101
39        116                 Misungwi      3,426      3,593 3,088
40        117       Misungwi (Mbarika)      3,436      3,603 3,098
This is a new table:
    Unnamed: 0               Unnamed: 1 Unnamed: 2       Cap Prices
0        S.No                     Town        NaN              NaN
1         NaN                      NaN     Petrol  Diesel Kerosene
2         118                Sengerema      3,464      3,631 3,126
3         119                  Ukerewe      3,491      3,658 3,153
4         120                   Njombe      3,374      3,541 3,036
5         121      Njombe (Kidegembye)      3,394      3,561 3,056
6         122                   Ludewa      3,411      3,578 3,074
7         123                Makambako      3,366      3,533 3,028
8         124                   Makete      3,404      3,571 3,067
9         NaN             Wanging'ombe        NaN              NaN
10        125        3,033(Igwachanya)      3,371            3,538
11        126       Rukwa (Sumbawanga)      3,454      3,621 3,116
12        NaN         Sumbawanga Rural        NaN              NaN
13        127                      NaN      3,454      3,621 3,116
14        NaN                (Mtowisa)        NaN              NaN
15        128          Kalambo (Matai)      3,461      3,628 3,123
16        129        Nkasi (Namanyele)      3,467      3,635 3,130
17        130          Nkasi (Kirando)      3,477      3,644 3,139
18        131          Ruvuma (Songea)      3,404      3,571 3,067
19        132                   Mbinga      3,417      3,584 3,079
20        133                 Namtumbo      3,410      3,577 3,072
21        134       Nyasa (Mbamba Bay)      3,427      3,594 3,090
22        135                  Tunduru      3,384      3,551 3,046
23        136                Shinyanga      3,410      3,577 3,072
24        137                   Kahama      3,414      3,581 3,077
25        138                  Kishapu      3,418      3,585 3,080
26        139    Ushetu (Nyamilangano)      3,426      3,593 3,088
27        NaN          Ushetu (Kangeme        NaN              NaN
28        140                      NaN      3,432      3,599 3,094
29        NaN                 Village)        NaN              NaN
30        141                   Salawe      3,424      3,591 3,086
31        142         Simiyu (Bariadi)      3,428      3,595 3,090
32        143        Busega (Nyashimo)      3,440      3,607 3,102
33        144  Itilima (Lagangabilili)      3,428      3,595 3,090
34        145                    Maswa      3,422      3,589 3,084
35        146         Meatu (Mwanhuzi)      3,433      3,600 3,095
36        147                  Singida      3,372      3,539 3,034
37        148                   Iramba      3,384      3,551 3,046
38        149                  Manyoni      3,356      3,523 3,019
39        150          Itigi (Mitundu)      3,372      3,539 3,034
40        151                   Ikungi      3,367      3,534 3,029
41        152        Mkalama (Nduguti)      3,396      3,563 3,059
This is a new table:
    Unnamed: 0         Unnamed: 1 Unnamed: 2 Cap Prices Unnamed: 3
0        S.No               Town        NaN        NaN        NaN
1         NaN                NaN     Petrol     Diesel   Kerosene
2         153     Songwe (Vwawa)      3,397      3,564      3,060
3         154  Songwe (Mkwajuni)      3,404      3,571      3,067
4         155              Ileje      3,401      3,568      3,064
5         156    Momba (Chitete)      3,407      3,574      3,069
6         157            Tunduma      3,402      3,569      3,064
7         158             Tabora      3,389      3,556      3,051
8         159             Igunga      3,389      3,556      3,051
9         160             Kaliua      3,402      3,569      3,065
10        161          Ulyankulu      3,400      3,567      3,062
11        162              Nzega      3,400      3,567      3,062
12        163            Sikonge      3,398      3,565      3,060
13        164             Urambo      3,399      3,566      3,061
14        165               Uyui      3,396      3,563      3,058
15        166           Mpyagula      3,421      3,588      3,083
16        167              Tanga      3,327      3,494      2,989
17        168            Handeni      3,306      3,474      2,969
18        169            Kilindi      3,341      3,508      3,003
19        170            Korogwe      3,320      3,487      2,982
20        171            Lushoto      3,330      3,497      2,992
21        172   Mkinga (Maramba)      3,341      3,508      3,004
22        173             Muheza      3,327      3,494      2,989
23        174            Pangani      3,334      3,501      2,996
This is a new table:
             Port    Petrol    Diesel  Kerosene
0  Dar es Salaam  3,148.80  3,314.95  2,812.34
1          Tanga  3,029.93  3,225.66         -
2         Mtwara  3,064.10  3,255.21         -