# Data Collection Scripts

In [73]:
import ssl
import pandas as pd
from tabula.io import read_pdf
import matplotlib.pyplot as plt

## Kenyan Data Cleaning
Outpiting CSV files for Kenyan cleaned data as it was initially collected from [Kenya's Energy and Petroleum Regulation Authority (EPRA)](https://www.epra.go.ke/services/petroleum/petroleum-prices/).

In [25]:
kenya_df = pd.read_csv('kenya_consolidated.csv')
kenya_df.head()

   start_date    end_date             town  super_petrol  diesel  kerosene
0  15/07/2023  14/08/2023          Mombasa        191.62  176.63    166.43
1  15/07/2023  14/08/2023           Kilifi        192.39  177.40    167.19
2  15/07/2023  14/08/2023  Likoni Mainland        192.00  177.02    166.81
3  15/07/2023  14/08/2023            Kwale        192.00  177.02    166.81
4  15/07/2023  14/08/2023          Malindi        192.62  177.62    167.41

In [26]:
kenya_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3531 entries, 0 to 3530
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   start_date    3531 non-null   object
 1   end_date      3531 non-null   object
 2   town          3531 non-null   object
 3   super_petrol  3531 non-null   float64
 4   diesel        3531 non-null   float64
 5   kerosene      3531 non-null   float64
dtypes: float64(3), object(3)
memory usage: 165.6+ KB

In [27]:
## See the unique start dates and end dates (They should be have same unique values)
start_dates = kenya_df.start_date.unique()
end_dates = kenya_df.end_date.unique()
print("Start Dates: ", start_dates,start_dates.shape, "\n End Dates: ", end_dates, end_dates.shape)

Start Dates:  ['15/07/2023' '15/06/2023' '15/04/2023' '15/01/2023' '15/12/2022'
 '15/11/2022' '15/10/2022' '15/09/2022' '15/08/2022' '15/07/2022'
 '15/06/2022' '15/05/2022' '15/04/2022' '15/03/2022' '15/02/2022'
 '15/01/2022' '15/11/2021'] (17,)
 End Dates:  ['14/08/2023' '14/07/2023' '14/05/2023' '14/02/2023' '14/01/2023'
 '14/12/2022' '14/11/2022' '14/10/2022' '14/09/2022' '14/08/2022'
 '14/07/2022' '14/06/2022' '14/05/2022' '14/04/2022' '14/03/2022'
 '14/02/2022' '14/12/2021'] (17,)

In [41]:
# Separate data by start date and save data in different CSV files named by the date
for date in start_dates:
    df = kenya_df[kenya_df.start_date == date]
    fname = "kenya_"+ date[-4:] + "_" + date[3:5] + "_" + date[:2] + ".csv" #Format file name: kenya_year_month_day.csv
    df.to_csv(fname)

You can now access the Kenyan data files based on their dates (As available through EPRA), or you can access all the data available from EPRA through the file `kenya_consolidated.csv`.

## Tanzania Data Collection
Tanzanian data from the [Energy and Water Utilities Authority (EWURA)](https://www.ewura.go.tz/fuel-prices/) was only available in PDF format. Below we'll design scripts to seamlessly extract data from the PDF documents into CSV files.
If there's an issue with the Java Environment, install `temurin`. In Mac/Linux, this can be done with `brew install temurin`

In [75]:
ssl._create_default_https_context = ssl._create_unverified_context #Fix SSL Certification Errors
dfs = read_pdf("https://github.com/tabulapdf/tabula-java/raw/master/src/test/resources/technology/tabula/arabic.pdf", pages='all')
dfs

[  اسمي سلطانمرحباً\rمن اين انت؟انا من ولاية كارولينا الشمال\r1234عندي 47 قطط\rاسمي Jeremy في الانجليزيةهل انت شباك؟\rJeremy is جرمي in Arabic  \
 0                                             مرحباً
 1                       انا من ولاية كارولينا الشمال
 2                                               1234
 3                                       هل انت شباك؟
 4                           Jeremy is جرمي in Arabic

                   Unnamed: 0
 0                 اسمي سلطان
 1                من اين انت؟
 2                عندي 47 قطط
 3  اسمي Jeremy في الانجليزية
 4                        NaN  ,
                                           Unnamed: 0  \
 0  اسمي سلطانمرحباً\rمن اين انت؟انا من ولاية كارو...
 1                                             مرحباً
 2                       انا من ولاية كارولينا الشمال
 3                                               1234
 4                                       هل انت شباك؟
 5                           Jeremy is جرمي in Arabic

                   Unnamed: 1
 0                        NaN
 1                 اسمي سلطان
 2                من اين انت؟
 3                عندي 47 قطط
 4  اسمي Jeremy في الانجليزية
 5                        NaN  ]